extends layout

block content
  h1= title

  - var image_names=["movies1.jpeg","movies2.jpg","movies3.jpg","movies4.jpg","movies5.jpg"]
    - for(let i=0;i<3;i++){
      - let RANnumber=Math.floor(Math.random()*5)
      img(src=`/images/${image_names[RANnumber]}` alt=`${RANnumber}` height="300px" width="300px") 
    - }